.tweet
  .meta
    - unless @tweet.watchers.include?(current_user.id)
      != link_to 'Watch', watch_tweet_path(@tweet), :method => :post
    - else
      != link_to 'Unwatch', watch_tweet_path(@tweet), :method => :delete
  .user-info
    != image_tag @tweet.user.profile_image_url
    @#{@tweet.user.login}
  .content
    %p= @tweet.trans_type_label
    .tweet-text
      = @tweet.text

.reactions

  .comment-form
    - if logged_in?
      != form_for @tweet.comments.new, :url => tweet_comments_path(@tweet), :method => :post do |f|
        %p
          != f.text_area :text, :size => '80x2'
        .right
          != f.submit '投稿'
    - else
      %p 訳すには#{link_to 'ログイン', login_path(:return_to => request.fullpath)}してください

  %ul.comments
    - @tweet.comments.desc(:created_at).each do |comment|
      - user = comment.user
      %li
        != image_tag @tweet.user.profile_image_url
        @#{@tweet.user.login}
        = comment.text
