.tweet
  .user-info
    != image_tag @tweet.user.profile_image_url
    @#{@tweet.user.login}
  .content
    = @tweet.text

.comment-form
  - if logged_in?
    %p 訳してみよう！
    != form_for @tweet.comments.new, :url => tweet_comments_path(@tweet), :method => :post do |f|
      %p
        != f.text_area :text, :size => '80x3'
      .right
        != f.submit
  - else
    %p 訳すには#{link_to 'ログイン', login_path(:return_to => request.fullpath)}してください

%ul.comments
  - @tweet.comments.desc(:created_at).each do |comment|
    %li= comment.text
