!= render 'shared/user_image_link', :user => tweet.user
!= render 'shared/user_link', :user => tweet.user
\:
= tweet.text
.meta
  = tweet.trans_type_label
  |
  != link_to "訳す！", tweet
  |
  != link_to "#{tweet.comments.count}", tweet
