.tweet-form
  - if logged_in?
    %p 翻訳してもらいたい文章を投稿しよう！
    != form_for Tweet.new do |f|
      %div
        != f.text_area :text, :size => '80x2'
      .right
        != f.select :trans_type, Tweet::TRANS_TYPES.invert.to_a
        != f.submit '投稿'
  - else
    %p 投稿するには#{link_to 'ログイン', login_path(:return_to => request.fullpath)}してください

.timeline

  %h2 新着

  %ul.tweets
    - @tweets.each do |tweet|
      %li
        != image_tag tweet.user.profile_image_url
        @#{tweet.user.login}
        \:
        = tweet.text
        .meta
          = tweet.trans_type_label
          |
          != link_to "訳す！", tweet
          |
          != link_to "#{tweet.comments.count}", tweet
