!= form_for Tweet.new do |f|
  @#{current_user.name}
  %p
    != f.text_area :text, :size => '80x3'
  != f.submit

%ul
  - @tweets.each do |tweet|
    %li
      @#{tweet.user.name}
      \:
      = tweet.text
      != link_to 'detail', tweet
