!= form_for Tweet.new do |f|
  %div
    != f.select :trans_type, Tweet::TRANS_TYPES.invert.to_a
  %div
    != f.text_area :text, :size => '80x3'
  %div
    != f.submit

%ul.tweets
  - @tweets.each do |tweet|
    %li
      != image_tag tweet.user.profile_image_url
      @#{tweet.user.login}
      \:
      = tweet.text
      .meta
        != link_to '訳す', tweet
